/* ===================================
   VISUAL FUTURISTA
=================================== */

body{
    background: linear-gradient(
        135deg,
        #071b2a,
        #0d2b3e,
        #071b2a
    );

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;

    padding: 0;

    transition: 0.5s;
}

/* ===================================
   MODO ESCURO
=================================== */

body.dark-mode{
    background: linear-gradient(
        135deg,
        #000000,
        #121212,
        #000000
    );
}

/* TÍTULOS */
.titulo{
    color: #00ffcc;

    text-shadow: 0 0 10px #00ffcc;
}

/* HEADER */
header{
    background: linear-gradient(
        90deg,
        #001f3f,
        #005f73,
        #001f3f
    );

    box-shadow: 0 0 20px #00ffcc;

    text-align: center;

    padding: 30px;
}

/* MENU */
nav{
    background-color: rgba(0,0,0,0.7);

    backdrop-filter: blur(10px);

    border-bottom: 2px solid #00ffcc;

    display: flex;

    justify-content: center;

    gap: 20px;

    padding: 15px;
}

/* LINKS */
nav a{
    color: #00ffcc;

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;
}

nav a:hover{
    color: white;

    text-shadow: 0 0 10px #00ffcc;
}

/* BANNER */
.banner{
    height: 400px;

    background-image: url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1400&auto=format&fit=crop");

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

    justify-content: center;
}

.banner-texto{
    background-color: rgba(0,0,0,0.7);

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    width: 80%;
}

/* CARDS */
.cards{
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;

    padding: 30px;
}

.card{
    width: 320px;

    background: rgba(255,255,255,0.
